header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #f72210;
  color: white;
}

.newsweek-logo {
  width: 396px;
  height: 60px;
  fill: white;
}
