header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #f72210;
  color: white;
}

.newsweek-logo {
  width: 396px;
  height: 60px;
  fill: white;
}

.weather-date-container {
  margin-left: 20px;
}

.weather {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 160px;
}
